.App {
  background-color: #e7e7e7;
  font-family: "Hind Siliguri", sans-serif;
}

.photo-div {
  display: flex;
  flex-wrap: wrap;
}

.individual-photo-div {
  flex-basis: calc(33.33% - 1.5rem);
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.fetched-photo {
  width: 24rem;
  height: 16rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 0.6rem;
  box-shadow: 3px 3px 0 #d1d3d2;
}

.overlay {
  position: absolute;
  width: 24rem;
  height: 16rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border-radius: 0.6rem;
}

.individual-photo-div:hover .overlay {
  opacity: 1;
}

.image-name {
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0.5rem;
}

.photographer {
  font-size: 1.2rem;
  font-style: italic;
  margin: 0.5rem;
}

span {
  border: 1px solid white;
  width: 25%;
}

.favorite {
  font-size: 1.2rem;
  padding: 0.8rem 1.4rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 1.7rem;
  color: white;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
}

.individual-photo-div.favored .favorite {
  background-color: rgba(255, 255, 255, 0.301);
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Your tablet styles here */
}

@media only screen and (max-width: 600px) {
    /* Your mobile styles here */
}